body .bhdLno {
  margin-top: -63px;
  width: 82%;
  max-width: 360px;
  height: 67%;
  max-height: 360px;
  object-fit: contain;
  flex-shrink: 0;
  z-index: 5;
  pointer-events: none;
  border: transparent;
  transform: rotate(-48deg);
}

body .sc-bdfBwQ {
  display: none;
}

.sc-eCssSg {
  border: none;
}
