.bhdLno {
  width: 50vw;
  max-width: 445px;
  height: 50vw;
  max-height: 445px;
  object-fit: contain;
  flex-shrink: 0;
  z-index: 5;
  pointer-events: none;
}

.iWaKfQ {
  position: absolute;
  width: 100%;
  inset: 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transform: rotate(-106deg);
}
