body .bhdLno {
  margin-top: -63px;
  width: 82%;
  max-width: 360px;
  height: 67%;
  max-height: 360px;
  object-fit: contain;
  flex-shrink: 0;
  z-index: 5;
  pointer-events: none;
  border: transparent;
}

body .iWaKfQ {
  width: 100%;
  inset: 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transform: rotate(-106deg);
}

body .sc-bdfBwQ {
  display: none;
}

body .fNcUgo {
  position: absolute;
  width: 100%;
  inset: 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.sc-eCssSg {
  border: none;
}
